<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="auth-box">

<h2 id="formTitle">Login</h2>

<form method="POST">
<input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>
<input type="hidden" name="action" id="action" value="login">
<button type="submit" id="submitBtn">Login</button>
</form>

<p class="auth-toggle">
<span id="toggleText">Don’t have an account?</span>
<a href="#" onclick="toggleForm()">Register</a>
</p>

</div>

<script>
function toggleForm(){
    let title=document.getElementById("formTitle")
    let btn=document.getElementById("submitBtn")
    let act=document.getElementById("action")
    let txt=document.getElementById("toggleText")

    if(act.value==="login"){
        title.innerText="Register"
        btn.innerText="Register"
        act.value="register"
        txt.innerText="Already have an account?"
    }else{
        title.innerText="Login"
        btn.innerText="Login"
        act.value="login"
        txt.innerText="Don’t have an account?"
    }
}
</script>

</body>
</html>
